* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.slot-header {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 20px 20px;
  border-radius: 8px 8px 0 0;
  background-image: linear-gradient(-25deg, #363237, #363237 56%, #555555 56%, #555555 60%, #666666 60%, #666666);
}

.fa-heart {
  color: #f00;
}

.slot-body {
  background-image: linear-gradient(-25deg, #999999, #999999 85%, #aaaaaa 85%, #aaaaaa 86%, #bbbbbb 86%, #bbbbbb);
  border-radius: 8px 8px 0 0;
  width: 100%;
  min-height: 700px;
  padding: 50px calc((100% - 660px)/2);
  position: relative;
}
.slot-body .fa-angle-double-right, .slot-body .fa-angle-double-left {
  position: absolute;
  font-size: 100px;
  line-height: 100px;
  top: calc(50% - 50px);
  color: #e5cfcf;
}
.slot-body .fa-angle-double-right {
  left: 60px;
}
.slot-body .fa-angle-double-left {
  right: 60px;
}

.wheel, .wheel1, .wheel2, .wheel3 {
  width: 200px;
  height: 600px;
  box-shadow: inset 0px 0px 6px black;
  float: left;
  margin: 0 10px 20px;
  background-repeat: repeat-y;
  background-position: 0 0;
  position: relative;
}
.wheel:before, .wheel1:before, .wheel2:before, .wheel3:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0.5));
}

.wheel1 {
  background-image: url("/images/first-reel.jpg");
}

.wheel2 {
  background-image: url("/images/second-reel.jpg");
}

.wheel3 {
  background-image: url("/images/third-reel.jpg");
}

.slot-bottom {
  background-color: #8a8a8a;
  width: 100%;
  padding: 40px 0;
  min-height: 200px;
}

.results {
  width: 62.5%;
  margin: 0 2.5% 0 5%;
  height: 100px;
  clear: both;
  float: left;
  background: #fff;
  display: table;
}
.results p {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#spin-button {
  margin: 0 5% 0% 2.5%;
  width: 22.5%;
  height: 100px;
  float: left;
  display: table;
  background-color: #000;
  cursor: pointer;
}
#spin-button:hover, #spin-button:focus {
  background-color: #222;
}
#spin-button:active {
  background-color: #444;
}

.btn-text {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
